@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body {
    font-family: 'roboto', sans-serif;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    padding: 18px;
    align-items: center;
    margin: 0;
}

.logo {
    font-weight: 950;
    font-size: 20px;
    text-decoration: underline;
}

.header-links {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.body1 {
    background-color: #1F2937;
    margin: 0;
    display: flex;
    flex: 1 1 50vh;
    color: #f9faf8;
    gap: 5vw;
    align-items: center;
    padding: 8vh 15vw;
    border-radius: 0 0 30px 30px;
}

.left-body1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}
.intro {
    font-weight: 1000;
    font-size: 48px;
    color: #f9faf8;
    
}

a {
    color: #f9faf8;
    text-decoration: none; /* no underline */
  }

.emailadd {
    background-color: #3882F6;
    padding: 12px 16px;
    text-align: center;
    width: 130px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

.right-body1 {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
   
}

.body2 {
    display: flex;
    flex: 1 1 30vh;
    flex-direction: column;
    
}

.body2-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 1000;
}

.skills-div {
    display: flex;
    flex: 1 0 160px;
    flex-direction: row;
    padding-left: 15vw;
    padding-right: 15vw;
    justify-content: space-between;
    flex-wrap: wrap;

}

.skill {
    display: flex;
    flex-direction: column;
    flex: 0 0 160px;
    
}

.skill > p {
    text-align: center;
}

.skill-img {
    max-width: 100%;
    border: solid #3882F6;
    border-radius: 20px;
    height: 150px;
    
}


.bio {
    font-size: 18px;
    color: #E5E7EB;
}


.mainpic {
    max-width: 400px;
    border-radius: 40px;
    
}

.body3 {
    background-color: #E5E7EB;
    display: flex;
    flex: 1 1 30vh;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.history {
    padding: 5vh 10vw;
}

.history > p {
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    text-indent: 50px;
    
}

.body4 {
    display: flex;
    flex: 1 1 30vh;
    justify-content: center;
    align-items: center;
    padding: 5vh 10vw;
}

.call-action {
    display: flex;
    background-color: #3882F6;
    border-radius: 20px;
    padding: 30px 100px;
    color: #f9faf8;
    align-items: center;
}

.call-left {
    flex: 3;
}
.call-left > h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.call-left > p {
    margin: 0;
}
.call-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.call-right > button {
    background-color: #3882F6;
    padding: 12px 16px;
    text-align: center;
    width: 130px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #f9faf8;
    margin: 0;
    
}

.body5 {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    #mc_embed_signup {
    background-color: #FFFFFF;
    filter: drop-shadow(0 0 0.5rem rgb(218, 224, 255));
    padding: 20px;
    width: 500px;
    margin-bottom: 5vw;
    }
    
    .indicates-required {
    display: flex;
    justify-content: flex-end;
    }
    
    .asterisk {
    color: red;
    }
    
    .mc-field-group {
    display: flex;
    flex-direction: column;
    }
    
    #mce-EMAIL-inp {
    flex: 1;
    border: 1px solid #3882F6;
    border-radius: 4px;
    padding: 8px 4px;
    margin-bottom: 20px;
    }
    
    #mce-FNAME-inp {
    flex: 1;
    border: 1px solid #3882F6;
    border-radius: 4px;
    padding: 8px 4px;
    margin-bottom: 20px;
    }
    
    .button {
    background-color: #3882F6;
    padding: 12px 16px;
    text-align: center;
    width: 130px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    }
    
    .inp-title {
    display: block;
    margin-bottom: 20px;
    }
    



.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0 0;
}

@media only screen and (max-width: 520px) {
.header {
    flex-direction: column;
    
}

.logo {
    margin-bottom: 3vw;
}
.header-links {
    font-size: 3vw;
    padding: 0;
}

.body1 {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 0;
    padding-bottom: 8vw;
}
.bio {
    font-size: 3vw;
}

.intro {
    margin-top: 2vw;
    font-size: 8vw;
}

body > .body1 > .right-body1 > .mainpic {
    max-width: 35vw;
}

.skills-div {
    justify-content: center;
}
body > .body3 > .history {
    padding: 10vw;
}

body > .body3 > .history > .p-history {
    font-size: 5vw;
}



body > .body4 > .call-action {
    flex-direction: column;
    min-width: 50vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

body > .body4 > .call-action > .call-left {
    margin-bottom: 3vw;
}

body > .body4 > .call-action > .call-left > p {
    font-size: 3vw;
}

#mc_embed_signup {
    width: 400px;
}

.footer {
    font-size: 2vw;
}
}